<html>
<title>ABOUT US</title>
<body>

  <h1>About our airpot</h1>

  <p>Travelstart: Cheap flights, incredible hotels and affordable car rentals
    Travelstart is Africa’s leading online travel agency. Based in sunny Cape Town, we have offices across Africa and the Middle East where hundreds of Travelstarters are dedicated to rocking your travel world. We want our customers to spend less time planning their travels and more time on holiday. Our mission is to save you time, money and stress with our simple online booking platform. You can search, compare and book your travel all in one place.
    What does Travelstart do?
    Travelstart is your one-stop online travel shop. so forget trawling the web for the latest flight specials. With low airfares on international and domestic flights from all your favourite airlines, vehicle hire options from top car rental companies and hotel reservations bookable for properties on every continent, we offer something for every traveller’s budget. For custom holiday packages to anywhere you can imagine, contact our travel experts and let’s start planning!
    Why book with Travelstart?
    Ain’t nobody got time for queues, spending hours hunting down deals or changing your plans to accommodate an airlines’ schedule. At Travelstart all the best travel suppliers and specials an be found, compared and booked quickly and safely, using multiple payment methods. You can mix and match departing and return cheap flights on different airlines and book flexi-tickets. Treat yourself to peace of mind and prepare your VISA application – with travel insurance too!</p>
  
    </body>
  
</html>
<router-outlet></router-outlet>
